.card-body{
    min-height: 105px;
}

.bg-light{
    background-color: #fdfdfd !important;
}

ul.contact-info{
    list-style-type: none;
    padding-left: 0px;
}

ul.contact-info > li > blockquote > svg {
    width: 16px;
    height: 16px;
}
